html, body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  height: 100%;
  width: 100%;
}

#map {
  flex-grow: 1;
}

.leaflet-draw-toolbar {
  z-index: 1000;
}

.custom-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 14px;
  text-shadow: 0 0 2px white;
  pointer-events: none;
}

.leaflet-arrowheads path {
  stroke: black !important;
  stroke-width: 2px;
  fill: black !important;
  pointer-events: none;
}

.leaflet-div-icon.leaflet-editing-icon {
  width: 6px !important;
  height: 6px !important;
  margin-left: -3px !important;
  margin-top: -3px !important;
  border-radius: 2px !important;
  border: 1px solid #333 !important;
  background-color: white !important;
}
